<div class="row d-flex justify-content-around">
    <div class="col-sm-1 px-4 border3">
        
    </div>
    <div class="col-sm-1 px-4" style= "height: 60px;"data-aos="fade-up" data-aos-duration="3000">
            <img class="d-block photo1 m-auto" src="/images/icons/aws.png" alt="">
    </div>
    <div class="col-sm-7 px-4" style= "height: 140px;"data-aos="fade-up" data-aos-duration="3000">
            <img class="d-block photo1 m-auto" src="/images/icons/p.png" alt="">
    </div>
    <div class="col-sm-1 px-4" style= "height: 70px;"data-aos="fade-up" data-aos-duration="3000">
            <img class="d-block photo1 m-auto" src="/images/icons/ten.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3">
     
        </div>

</div>