<div class="">
    <h2 class="heading1">Experience</h2>
    <div class="row d-flex justify-content-around">

        <div class="col-md-10 borderr">
            <div class="row">
                <div class="col-lg-2" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
                    data-aos-duration="3000">
                    <a href="https://www.nwmissouri.edu/">
                        <img class="symbol" src="/images/avatars/anthem.jpg" alt="">
                    </a>

                </div>
                <div class="col-lg-3 pl-4">
                    <h3 class="universityName">Anthem, Inc. </h3>
                    <h4 class="universityName"><i class="text-muted">Location: </i> Norfolk, VA </h4>
                    <h4 class="universityName"><i class="text-muted">Role: </i> Data Scientist </h4>
                    <h5 class="universityName"> February 2017 - Present</h5>
                </div>
                <div class="col-lg border1" data-aos="fade-down" data-aos-duration="3000">
                    <p class='text-muted'>
                        The goal of the company aims at developing the technology, solutions and programs that give
                        consumers greater access to care, working with providers to ensure a quality health care
                        experience for consumers and easing cost challenges by advancing affordability in the health
                        care industry. This job involved creating statistical machine learning models for generating
                        report on individual customer health care system followed by future insurance claims based on
                        current customer information with multiple analytics.
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal">
                            More Info
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Anthem, Inc. </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>

                    <ul class="list-group list-group-flush">


                        <li class="list-group-item">Involved in all phases of data acquisition, data collection, data
                            cleaning, model development, model validation, and visualization to deliver data science
                            solutions.
                        </li>
                        <li class="list-group-item">Created classification models to recognize web request with product
                            association in order to classify the orders and scoring the products for analytics which
                            improved the online sales percentage by 16.78%.
                        </li>
                        <li class="list-group-item"> Used Pandas, NumPy, Scikit-learn in Python for developing various
                            machine learning models such Random forest and step-wise regression.
                        </li>
                        <li class="list-group-item">Hands on experience in Dimensionality Reduction, Model selection
                            and Model boosting methods using Principal Component Analysis (PCA), K-Fold Cross
                            Validation and Gradient Tree Boosting.
                        </li>
                        <li class="list-group-item">Implemented a structured learning method that is based on search
                            and scoring method.
                        </li>
                        <li class="list-group-item"> Customer segmentation based on their behavior or specific
                            characteristics like age, region, income, geographical location and applying Clustering
                            algorithms to group the customers based on their similar behavior patterns.
                        </li>
                        <li class="list-group-item">Worked on NLTK library in python for doing sentiment analysis on
                            customer product reviews
                        </li>
                        <li class="list-group-item"> Worked on migrating MapReduce programs into Spark transformations
                            using Spark and Scala, initially done using python (PySpark).
                        </li>
                        <li class="list-group-item"> Developed various Spark applications using Scala to perform
                            various enrichment of these click stream data merged with user profile data.
                        </li>
                        <li class="list-group-item"> Developed highly optimized Spark applications to perform data
                            cleansing, validation, transformation and summarization activities
                        </li>
                        <li class="list-group-item">Data pipeline consists Spark, Hive and Sqoop and custom build Input
                            Adapters to ingest, transform and analyze operational data.
                        </li>
                        <li class="list-group-item">Created and maintained reports to display the status and
                            performance of deployed model and algorithm with Tableau.
                        </li>
                        <li class="list-group-item"> Implemented Pearson's Correlation and Maximum Variance techniques
                            to find the key predictors for the Regression models.
                        </li>
                        <li class="list-group-item"> Worked with numerous data visualization tools in python like
                            matplotlib, seaborn.
                    </ul>
                </p>




            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>