<div class="">

        <div class="row d-flex justify-content-around">
            
            <div class="col-md-10 borderr">
                <div class="row">
                    <div class="col-lg-2" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
                        data-aos-duration="3000">
                        <a href="https://www.nwmissouri.edu/">
                            <img class="symbol" src="/images/avatars/phi.jpg" alt="">
                        </a>
    
                    </div>
                    <div class="col-lg-4 pl-4">
                        <h3 class="universityName">Pfizer Inc.</h3>                    
                        <h4 class="universityName"><i class="text-muted">Location: </i> Collegeville, PA  </h4>
                        <h4 class="universityName"><i class="text-muted">Role: </i> UI/UX Developer </h4>
                        <h5 class="universityName"> May 2012 - July 2013</h5>
                    </div>
                    <div class="col-lg border1" data-aos="fade-down" data-aos-duration="3000">
                       <p class = 'text-muted'>
                            Initially collaborated on developing a web application where my major contribution to the project was to work on User Experience Design part.
                             <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal4">
                                More Info
                        </button>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
      <!-- The Modal -->
      <div class="modal fade" id="myModal4">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
              
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Pfizer Inc. - UI/UX Developer </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                  <p>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                  	Provided design expertise to the organization and work directly with web development and production teams
      </li><li class="list-group-item">Worked closely with the Product Manager and team leads to ensure we were developing world-class applications with UX/UI design expertise
        </li><li class="list-group-item">	Collaborated with other designers, user researchers, game designers, engineering teams, and business/marketing stakeholders to prioritize UX activities throughout the game/application development life-cycle and deliver high quality experiences on schedule
            </li><li class="list-group-item">	Worked in graphic design area, an excellent eye for typography, clean layout, purposeful color, and attention to detail. Developed deep appreciation for simple, fun, intuitive and usable interfaces
                </li><li class="list-group-item">	Worked on in-house UI tools and scripting language where problems were solved using a combination of JavaScript, JSON, and JQUERY
                    </li><li class="list-group-item">	Having knowledge in HTML, CSS, browser compatibility and web standards for interactive prototypes, plus Adobe Creative Suite (primarily Photoshop) or similar tool for wireframe and static visual designs.
                               
                  </p>
    
    
    
    
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                
              </div>
            </div>
          </div>
    
        