<div class="">
        <div class="row d-flex justify-content-around">
            
            <div class="col-md-10 borderr">
                <div class="row">
                    <div class="col-lg-2" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
                        data-aos-duration="3000">
                        <a href="https://www.nwmissouri.edu/">
                            <img class="symbol" src="/images/avatars/phi.jpg" alt="">
                        </a>
    
                    </div>
                    <div class="col-lg-4 pl-4">
                        <h3 class="universityName">Pfizer Inc.  </h3>                    
                        <h4 class="universityName"><i class="text-muted">Location: </i> Collegeville, PA </h4>
                        <h4 class="universityName"><i class="text-muted">Role: </i> Data Analyst  </h4>
                        <h5 class="universityName"> July 2013 - July 2014</h5>
                    </div>
                    <div class="col-lg border1" data-aos="fade-down" data-aos-duration="3000">
                       <p class = 'text-muted'>
                            Pfizer is one of the world's premier innovative biopharmaceutical companies, collaborate with health care providers, governments, and local communities to support and expand access to reliable, affordable health care around the world. The goal was creating customer profiling models and customer value analysis to improve health and well-being at every stage of life. Also improving customer services by automating some of the tasks using machine learning, pattern analytics and exploratory analysis.
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal3">
                                More Info
                        </button>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
      <!-- The Modal -->
      <div class="modal fade" id="myModal3">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
              
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Pfizer Inc. - Data Analyst </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                  <p>
                      <ul class="list-group list-group-flush">
                      <li class="list-group-item">	Developed Python modules, Machine learning & predictive analytics for day to day business activities. 
                        </li> <li class="list-group-item">	Worked on preprocessing of data which involves collecting, formatting, cleaning, aggregation, segregation of large volume of data and finally sampling data from it for performing statistical evaluations further inferred valuable conclusion from data.
                        </li> <li class="list-group-item">	Developed Natural Language Processing to automate the classification of customer incident queries into levels of classes to improve the customer services
                        </li> <li class="list-group-item">	Implemented number of customer clustering models and these clusters are plotted visually using Tableau legends for the higher management.
                        </li> <li class="list-group-item">	Perform Exploratory analysis, hypothesis testing, cluster analysis, correlation, ANOVA, ROC Curve and build models in Supervised and Unsupervised Machine Learning algorithms, Text Analytics & Time Series Forecasting
                        </li> <li class="list-group-item">	Implemented Porter Stemmer (Natural Language Tool Kit) and NLP bag of words models (CountVectorizer, IDF) to prepare the data.
                        </li> <li class="list-group-item">	Implemented a machine learning model for customer sentiment pattern to better assess the heartbeat of the customer trend.
                        </li> <li class="list-group-item">	Conducting studies, rapid plots and using advanced data mining and statistical modeling techniques to build a solution that optimizes the quality and performance of data.
                        </li> <li class="list-group-item">	Developed Simple to midlevel Map Reduce Jobs using hive and Pig and developed multiple MapReduce jobs in python for data cleaning and preprocessing.
                        </li> <li class="list-group-item">	Analyzing large data sets apply machine learning techniques and develop predictive models, statistical models and developing and enhancing statistical models by leveraging best-in-class modeling techniques.
                        </li> <li class="list-group-item">	Worked with several outlier algorithms like Z-score, PCA, and LMS to better process the data for higher accuracy.
                        </li> <li class="list-group-item">	Worked with parameter tuning and model evaluation techniques Confusion Matrix, Cross validation. Customer Profiling models using K-means and K-means++ clustering algorithms to enable targeted marketing. 
                        </li> <li class="list-group-item">	Implemented dimensionality reduction using Principal Component Analysis and k-fold cross validation as part of Model Improvement.
                        </li> <li class="list-group-item">	Worked with data visualization tools in python like matplotlib.
</ul>
                    </p>
    
    
    
    
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                
              </div>
            </div>
          </div>
    
        