<div class="">
    <div class="row d-flex justify-content-around">

        <div class="col-md-10 borderr">
            <div class="row">
                <div class="col-lg-2" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
                    data-aos-duration="3000">
                    <a href="https://www.nwmissouri.edu/">
                        <img class="symbol" src="/images/avatars/cruise-icon.png" alt="">
                    </a>

                </div>
                <div class="col-lg-4 pl-4">
                    <h3 class="universityName">Carnival Corp. </h3>
                    <h4 class="universityName"><i class="text-muted">Location: </i> Miami, FL </h4>
                    <h4 class="universityName"><i class="text-muted">Role: </i> Data Scientist </h4>
                    <h5 class="universityName"> September 2014 - February 2017</h5>
                </div>
                <div class="col-lg border1" data-aos="fade-down" data-aos-duration="3000">
                    <p class='text-muted'>
                        It is the world’s largest leisure travel company, provides travelers around the globe with
                        extraordinary vacations at an exceptional value. In this project we built various machine
                        learning model to help the organization in determining the good customer base, future travel
                        suggestion based on current customer information and other analytics.
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal2">
                            More Info
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Carnival Corp. </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>
                    <ul class="list-group list-group-flush">


                        <li class="list-group-item">
                            Developed applications of Machine Learning, Statistical Analysis and Data Visualizations
                            with challenging data Processing problems in sustainability and biomedical domain.
                        </li>
                        <li class="list-group-item"> Compiled data from various sources public and private databases to
                            perform complex analysis and data manipulation for actionable results.
                        </li>
                        <li class="list-group-item"> Designed and developed Natural Language Processing models for
                            sentiment analysis.
                        </li>
                        <li class="list-group-item"> Worked on Natural Language Processing with NLTK module of python
                            for application development for automated customer response.
                        </li>
                        <li class="list-group-item"> Used predictive modeling with tools in Python.
                        </li>
                        <li class="list-group-item"> Worked with the Spark for improving performance and optimization
                            of the existing algorithms in Hadoop using Spark Context, Spark-SQL, Spark MLlib, Data
                            Frame, Pair RDD's, Spark YARN.
                        </li>
                        <li class="list-group-item"> Applied concepts of probability, distribution and statistical
                            inference on given dataset to unearth interesting findings through use of comparison,
                            T-test, F-test, R-squared, P-value etc.
                        </li>
                        <li class="list-group-item"> Applied linear regression, multiple regression, ordinary least
                            square method, mean-variance, theory of large numbers, logistic regression, dummy variable,
                            residuals, Poisson distribution, Bayes, Naive Bayes, fitting function etc to data with help
                            of Scikit, Scipy, Numpy and Pandas module of Python.
                        </li>
                        <li class="list-group-item"> Applied clustering algorithms i.e. Hierarchical, K-means with help
                            of Scikit and Scipy.
                        </li>
                        <li class="list-group-item"> Worked on Clustering and classification of data using machine
                            learning algorithms.
                        </li>
                        <li class="list-group-item"> Used Tensor Flow machine learning to create sentimental and time
                            series analysis.
                        </li>
                        <li class="list-group-item"> Developed visualizations and dashboards using ggplot, Tableau
                        </li>
                        <li class="list-group-item"> Built and analyzed datasets using Python, Seaborn, and MatLab
                        </li>
                        <li class="list-group-item"> Applied linear regression in Python and SAS to understand the
                            relationship between different attributes of dataset and causal relationship between them
                        </li>
                        <li class="list-group-item"> Designed and implemented a probabilistic churn prediction model
                            with 100k customer data to predict the probability of customer churn out using Logistic
                            Regression in Python. Client utilized the results in the business to finalize the list of
                            customers to provide a discount.
                        </li>
                        <li class="list-group-item"> Pipelined (ingest/munge/clean/transform) data for feature
                            extraction toward downstream classification.
                        </li>
                        <li class="list-group-item"> Expertise in Business Intelligence and data visualization using
                            Tableau.

                </p>




            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>